.order{
    margin-top: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.product-item {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.product-item:hover {
  background-color: #f0f0f0;
}